@model GarageThree.Models.Vehicle
@inject IGetVehicleTypesService service
@inject IDevelopmentGetOwnerService developmentService

@{
    ViewData["Title"] = "Park";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Park">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label">Owner # Todo Hashed or otherwise random value</label>
                @* SEEMS LIKE A BAD IDEA TO HAVE THIS... <select asp-for="OwnerId" class ="form-control" asp-items=@await developmentService.DevelopmentGetOwners();></select>*@
                <input asp-for="OwnerId" class="form-control" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
            @*TODO*@---TODO : CLICK HERE TO SIGN UP---- <br />
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passengers" class="control-label"></label>
                <input asp-for="Passengers" class="form-control" />
                <span asp-validation-for="Passengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wheels" class="control-label"></label>
                <input asp-for="Wheels" class="form-control" />
                <span asp-validation-for="Wheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleTypeId" class="control-label">Vehicle Type</label>
                <select asp-for="VehicleTypeId" class ="form-control" asp-items=@await service.GetVehicleTypesAsync();></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Park" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
