@model GarageThree.Models.ViewModels.OwnerMembershipSignup

@{
    ViewData["Title"] = "Create";
}

<h1>Signup for a Membership at the Garage</h1>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 md-1">
            <form asp-action="Signup">
                <div class="row mt-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-6 mb-3">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                       </div>
                        <div class="form-group col-md-6 mb-3">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label asp-for="PersonalNumber" class="control-label"></label>
                            <input asp-for="PersonalNumber" class="form-control" />
                            <span asp-validation-for="PersonalNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div>
                        <p>Your Arrival Time: @DateTime.Now</p>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Signup" class="btn btn-primary" />
                    </div>
</form>
        </div>
    </div>
    <div>
        <a asp-action="Index"><i>Back to Main Menu</i></a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
